body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .filter {
    margin-bottom: 20px;
    text-align: center;
  }

  .slider-container {
    margin: 10px 0;
  }
  .slider-label {
    display: block;
    margin-bottom: 5px;
  }
  
  .chart-container {
    width: 80%;
    margin: auto;
  }
  
  canvas {
    max-width: 100%;
    height: auto;
  }
